# Main ----------------------------------------------------------------------
PORT=3000
TEAMS_OUTGOING_WEBHOOK_SECRET=  # Grab messages from Teams

# Tenants (multi-tenant)
TENANTS=     # Comma-separated list of tenant codes E.g. TENANTS={KEY1}, {KEY2}

{KEY1}_TENANT_ID=
{KEY1}_CLIENT_ID=
{KEY1}_CLIENT_SECRET=

{KEY2}_TENANT_ID=
{KEY2}_CLIENT_ID=
{KEY2}_CLIENT_SECRET=

# License usage location for new users created by the app (multi-tenant, e.g US, AZ, etc.)
DEFAULT_USAGE_LOCATION=

# SSO Configuration ----------------------------------------------------------------------

ALLOWED_EMAILS= # Comma-separated list of allowed email addresses for SSO login
SESSION_SECRET= # Secret key for session management (create and use a strong random string)
REDIRECT_URI= # The URI where the SSO provider will redirect after authentication (e.g. https://yourapp.com/auth/callback)

# Email Configurations ----------------------------------------------------------------------

MAIL_SENDER_UPN= # The User Principal Name (UPN) of the email account that will send emails (e.g. user@domain.com)
LICENSE_REQUEST_TO= # Email address to receive license request emails
LICENSE_REQUEST_CC= # Comma-separated list of email addresses to CC for license requests
ASSETS_REQUEST_TO= # Email address to receive asset request emails
ASSETS_REQUEST_CC= # Comma-separated list of email addresses to CC for asset requests



# Snipe-IT integration ----------------------------------------------------------------------
SNIPEIT_ENABLED=true 
SNIPEIT_URL= # Base URL of your Snipe-IT instance (e.g. https://inventory.yourdomain.com)
SNIPEIT_API_KEY= # API key for authenticating with Snipe-IT
SNIPEIT_LAPTOP_PREFIX=PC- # Prefix for laptop asset tags in Snipe-IT (for filtering)
SNIPEIT_MONITOR_PREFIX=MN- # Prefix for monitor asset tags in Snipe-IT (for filtering)

# Zammad integration ----------------------------------------------------------------------
ZAMMAD_ENABLED=true
ZAMMAD_URL=https://zammad.com
ZAMMAD_API_TOKEN=XXXXXXXXXXXXXXXX
ZAMMAD_DEFAULT_CUSTOMER=some.user@outlook.com


# Debug ----------------------------------------------------------------------

#TEST_RECIPIENT= # if enabled, all outgoing emails will be sent to this address instead of the actual recipients (useful for testing)
WEBHOOK_DEBUG=false # If true, incoming webhook payloads will be logged for debugging purposes (set to false in production)


# Company Matcher Configurations ----------------------------------------------------------------------

COMPANY_MATCHER_KEYS= # Comma-separated list of company keys for matching (e.g. COMPANY_MATCHER_KEYS=COMPANY1,COMPANY2)

COMPANY_MATCHER_{KEY}_PATTERNS= # Comma-separated list of patterns to identify the company based on email domains or other identifiers (e.g. COMPANY_MATCHER_COMPANY1_PATTERNS=company1,company1llc)
COMPANY_MATCHER_{KEY}_DOMAIN= # Primary email domain associated with the company (e.g. COMPANY_MATCHER_COMPANY1_DOMAIN=company1.az)
COMPANY_MATCHER_{KEY}_CODE= # Short code for the company (e.g. COMPANY_MATCHER_COMPANY1_CODE=FIRSTCOMPANY)  
COMPANY_MATCHER_{KEY}_TENANT= # Tenant code associated with the company (e.g. COMPANY_MATCHER_COMPANY1_TENANT=TENANT1) | fro multi-tenant setups, this determines which tenant's credentials to use when managing users for this company
COMPANY_MATCHER_{KEY}_GROUPS= # Comma-separated list of group IDs to assign to users matching this company (e.g. COMPANY_MATCHER_COMPANY1_GROUPS=groupid1,groupid2) - options for assigning users to specific groups based on their company, can be left empty if not needed


